.idea
.gradle
build
*.iml
/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
lein.sh
target
out
*swp
node_modules
deployment
!/dont-forget-bout-it/dont-forget-bout-it-core/src/main/java/tastypenguinbacon/dontforgetboutit/remember/RememberUrlDTO.java
